*.swp
*.swo
pbshosts*
*.o
*.a
*.so
*.tar
*.tar.gz
obj/
mod/
jobscripts/
bench/
meas/
_attic/
apps/*/
!apps/minimal/
!apps/spmvm/
!apps/lanczos/
tags
*stdout*
*stderr*
types_c.taghl
types_fortran.taghl
