*.swp
*.swo
pbshosts*
*.o
*genmod.f90*
*genmod.mod*
*.a
*.so
*.tar
*.tar.gz
obj/
mod/
jobscripts/
bench/
meas/
_attic/
apps/*/
!apps/minimal/
!apps/spmvm/
!apps/lanczos/
!apps/taskq/
tags
*stdout*
*stderr*
types_c.taghl
types_fortran.taghl
